@page "/MyPage"

<PageTitle>My Page</PageTitle>

<h3>MyPage</h3>

<hr />

<input type="text" @bind="txtName" />

<a href="/MyPage/MyPageInfo/@txtName">Get more info ..</a>

<hr />
<a href="/pageInfo">Get more info .. 2</a>

@code {
    public string txtName { get; set; } = string.Empty;

}
