@page "/MyPage"
@inject NavigationManager navManager

<PageTitle>My Page</PageTitle>

<h3>MyPage</h3>

<hr />

<input type="text" @bind="txtName" />

<a href="/MyPage/MyPageInfo/@txtName/38" >Get more info ..</a>

<br />
<button class="btn btn-primary" @onclick="GoToInfoPage"> Go To More Info by button </button>

<hr />
<a href="/pageInfo">Get more info .. 2</a>

@code {
    public string txtName { get; set; } = string.Empty;

    void GoToInfoPage()
    {
        navManager.NavigateTo($"/MyPage/MyPageInfo/{txtName}/38");
    }
}
